<h3 class="header-title"><%=@reservation.name%>様の注文内容詳細</h3>
  <table>
    <tr>
      <th>名前</th>
      <td><%= @reservation.name %>様</td>
    </tr>
    <tr>
      <th>住所</th>
      <td><%= @reservation.address %></td>
    </tr>
    <tr>
      <th>電話番号 <br>(クリックで通過可能)</th>
      <td><a href="tel:<%= @reservation.telnum %>"><%= @reservation.telnum %></a></td>
    </tr>
    <tr>
      <th>時間</th>
      <td><%= @reservation.time %><br><%= @reservation.backtime %></td>
    </tr>
    <tr>
      <th>注文内容</th>
      <td><%= @reservation.order %></td>
    </tr>
    <tr>
      <th>金額</th>
      <td><%= @reservation.price.to_s(:delimited) %>円</td>
    </tr>
    <tr>
      <th>カテゴリー</th>
      <td><%= @reservation.category%></td>
    </tr>
     <tr>
      <th>カテゴリー名</th>
      <td><%= @reservation.categoryname%></td>
    </tr>
    <tr>
      <th>配達員</th>
      <td><%= @reservation.delivery %></td>
    </tr>
     <tr>
      <th>備考</th>
      <td><%= @reservation.remarks %></td>
    </tr>
    <tr>
      <th>画像</th>
      <td>
        <% if @reservation.image? %>
          <%= image_tag @reservation.image.url %>
        <% else %>
          <%= image_tag '/assets/default.png' %>
        <% end %>
      </td>
    </tr>
  </table>
  
<div class="print-area">
  <div class="receipt">
    <ul>
      <li class="receipt-title">領収書</li>
      <li class="receipt-date"><%= Date.current.strftime(" %Y年 %m月 %d日") %></li><br>
      <li class="receipt-name"><%= @reservation.name %>様</li>
      <li class="receipt-price">¥  <%= @reservation.price.to_s(:delimited)%> -</li>
      <li class="receipt-proviso">但　お弁当代として</li>
      <li>上記正に領収いたしました</li><br>
      <li class="receipt-company">株式会社　蒼柚<br>埼玉県所沢市東町13-29H-CUBE 1B<br>河内　敏弘</li>
    </ul>
  </div>
</div>
<button class="print-btn">
　　<span>領収書の印刷</span>
</button>
<div>
  <ul>
    <li><%= link_to "削除", :reservation, method: :delete, data:{confirm:"本当に削除しますか？"}, class: 'edit user btn btn-border-shadow btn-border-shadow--color2'%></li>
    <li><%= link_to '編集', :edit_reservation, class: 'edit edit user btn btn-border-shadow btn-border-shadow--color2'%></li>
    <li><%= link_to "予約一覧表に戻る", :reservations, class: 'top user btn btn-border-shadow btn-border-shadow--color2' %></li>
  </ul>
</div>
