<h3 class="header-title">お客様情報変更画面</h3>
<%= render "shared/error", obj: @info %>
  <%= form_for @info do |f| %>
    <table>
      <tr>
        <th><%= f.label :name ,"名前" %></th>
        <td><%= f.text_field :name, placeholder:"カタカナ入力"%>様</td>
      </tr>
      <tr>
        <th><%= f.label :address ,"住所" %></th>
        <td><%= f.text_field :address %></td>
      </tr>
       <tr>
        <th><%= f.label :telnum ,"電話番号" %></th>
        <td><input type="tel" inputmode="numeric" pattern="\d*" name="info[telnum]" value="<%=@info.telnum%>"></td>
      </tr>
       <tr>
        <th><%= f.label :remarks ,"備考" %></th>
        <td><input type="text" name="info[remark]" placeholder="(例)新住所でマップでは出てこないので" style="width:80%;height:100px;" value="<%=@info.remark%>"></td>
      </tr>
      <tr>
          <th><%= f.label '画像' %></th>
          <td><%= f.file_field :image %></td>
        </tr>
    </table>
    <div>
      <ul>
        <li><%= f.submit "登録完了する", class: 'submit user',data:{confirm:"この情報で変更しますか？"}%></li>
        <li><%= link_to "お客様情報一覧に戻る", :infos, class: 'top user btn btn-border-shadow btn-border-shadow--color2' %></li>
      </ul>
    </div>
  <% end %>